a{
    color:hotpink;
}
   
a:hover{
    color:transparent;        
    }    
    
body{
        background: black;
        color: black;
        font-family: 'Press Start 2P', cursive;
        font-size: 12;
        line-height: 2.5;        
}

