/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

a:link {
  color: #003399;
}

a:visited {
  color: #003399;
}

a:hover {
  color: #003399;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-variant: small-caps;
    font-weight: 400;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    color: #A31F34;
  }
